.row .col.s3 {

    display: list-item;
}
.row .col.offset-s11 {
        margin-top: -64px;
}
.side-nav.fixed {

    margin-top: 64px;
    width: 64px;
        z-index:0;
        height: 83%;
  }
  main {
    flex: 1 0 auto;
    height: $navbar-height*8.5;


}
  footer.page-footer {
      margin-top: 0px;
      padding-top: 0px;
  }
