<<<<<<< HEAD
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header nav .row form .input-field input {
  display: inline-block;
  margin-bottom: 0px;
  height: 45px;
}
.side-nav.fixed {
  display: none;
}
header nav .row>.col.s3 {
  background: #00ff00 url("../images/koopid_logo.png") no-repeat center;
}
header nav .row>.col.s9>.s2 img {
  width: 35px;
  height: 35px;
}
header nav i.material-icons {
  display: none;
}
.side-nav a {
  padding: 0px;
}
.side-nav li>a>i.material-icons {
  float: none;
  margin: 0px;
}
#slide-out {
  display: block;
  margin-top: 2*$navbar-height;
}
@media #{$medium-and-up} {
  body>.side-nav.fixed {
    display: block;
    margin-top: $navbar-height;
    z-index: auto;
    width: $side-nav-desktop-width;
  }
  main>.row>.col.s3{
        padding-left:  $side-nav-desktop-width ;
  }
  header nav i.material-icons {
    display: block;
    height: $navbar-height;
  }
  #slide-out {
    display: block;
    margin-top: 2 * $navbar-height;
  }
}

main {
  flex: 1 0 auto;
}

#chat-screen {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  section {
    flex: 1 0 auto;
  }
}



footer.page-footer {
  z-index: 10;
  margin-top: 0px;
  padding-top: 0px;
=======
.row .col.s3 {

    display: list-item;
}
.row .col.offset-s11 {
        margin-top: -64px;
>>>>>>> 434f86b0d157437ee693889231c182ad26e25d77
}
.side-nav.fixed {

    margin-top: 64px;
    width: 64px;
        z-index:0;
        height: 83%;
  }
  main {
    flex: 1 0 auto;
    height: $navbar-height*8.5;


<<<<<<< HEAD

main .col {
  height: 85vh;
}
.messages{
  overflow: overlay;
  height: 79%;
}

.page-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

}
body > main > div > div.col.s3.yellow > ul{
  margin-top: 0px;
  overflow: overlay;
  height: 82vh;
}
=======
}
  footer.page-footer {
      margin-top: 0px;
      padding-top: 0px;
  }
>>>>>>> 434f86b0d157437ee693889231c182ad26e25d77
